.drawer-create-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  color: #4f4f4f;
  margin-top: 6rem;
}

.drawerpage-text--drawer__design {
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.drawerpage-text--button-back__design {
  margin-top: 3rem;
  height:2rem;
  width: 3rem;
  background-color: #3CDDC0;
  border: none;
  border-radius: 10px;
}

.drawerpage-text--button-back__design img {
  width: 1rem;
  height: 1rem;
  margin: auto;
}

.drawerpage-text--button-back__design:hover {
  transform: scale(1.02);
}

.drawerpage-text--button-create__design {
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-top: 2rem;
  width: 9rem;
  height: 2rem;
  transition-duration: 0.4s;
  background-color: #3CDDC0;
  color: white;
}

.drawerpage-text--button-create__design:hover {
  transform: scale(1.02);
}

.error-message {
  margin-left: 22px;
  color: red;
}

.success-message {
  margin-left: 22px;
  color: lightgreen;
}

