.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 6rem;
  width: 80%;
  color: #4F4F4F;
}

.login-form__design {
  display: flex;
  flex-direction: column;
}

.login-form--email__design {
  width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.login-form--password__design {
  width: 100%;
  margin-top: 2rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}



.login-form--button-login__design {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ACDECE;
  color: white;
}

.login-form--button-login__design:hover {
  transform: scale(1.05);
}

.login-form--button-register__design {
  width: 100%;
  height: 2.3rem;
  border: 1px solid #ACDECE;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: white;
  color: #ACDECE;
}

.login-form--button-register__design:hover {
  transform: scale(1.05);
}

::placeholder {
  opacity: 0.4;
}

.login-form--text {
  font-size: 1.5rem;
}

.login-form--password-forgot {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  width: 350px;
}

.login-form--password-forgot__design {
  text-decoration: none;
}

.login-form--password-forgot__design:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
}
