.forget-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 6rem;
  width: 80%;
  color: #4f4f4f;
}

.forget-form--email__design {
  width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.forget-form--button-forget__design {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #3cddc0;
  color: white;
}

.forget-form--button-forget__design:hover {
  transform: scale(1.05);
}

.forget-form--text {
  font-size: 1.5rem;
}

.success-email-message {
  color: lightgreen;
}

