.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 6rem;
  width: 80%;
  color: #4F4F4F;
}

.register-form__design {
  display: flex;
  flex-direction: column;
}

.register-form--password {
  width: 100%;
}

.register-form--email {
  width: 100%;
}

.register-form--username__design {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.register-form--password__design {
  margin-top: 2rem;
  width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.register-form--email__design {
  width: 100%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.register-form--button-back__design {
  width: 100%;
  height: 2.3rem;
  border: 1px solid #ACDECE;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: white;
  color: #ACDECE;
}

.register-form--button-back {

}

.register-form--button-back__design:hover {
  transform: scale(1.05);
}

.register-form--button-create {

}

.register-form--button-create__design {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ACDECE;
  color: white;
}

.register-form--button-create__design:hover {
  transform: scale(1.05);
}

::placeholder {
  opacity: 0.4;
}

.register-form--text {
  font-size: 1.5rem;
}

.error-message {
  color: red;
}
