select {
  padding-left: 1rem;
}

.user-page-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  color: #4f4f4f;
  margin-top: 6rem;
}

.userpage-textarea__design {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  resize: none;
  padding: 1rem;
}

.userpage-textareaSelect__design {
  width: 100%;
  height: 8rem;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  color: black;
  resize: none;
  padding: 1rem;
}

.down-site {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #e8e8e8;
  width: 90%;
  margin: auto;
  height: 50px;
}

.userpage-bottom--button-save__design {
  border: none;
  border-radius: 10px;
  margin: auto;
  width: 6rem;
  height: 2rem;
  transition-duration: 0.4s;
  background-color: #3CDDC0;
  color: white;
}

.userpage-bottom--button-save__design:hover {
  transform: scale(1.02);
}

.comment-text__design {
  font-size: 1rem;
}

.userpage-text--button-signout__design {
  display: inline-flex;
  justify-content: space-between;
  margin-left: auto;
  width: fit-content;
  background-color: white;
  border: none;
}

.userpage-text--button-signout__design:hover {
  color: #999999;
}

.userpage-image--signout-image {
  width: 30px;
  height: 30px;
  margin: auto;
}

.userpage-drawer--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.userpage-top--list__design {
  margin-left: 0.5rem;
  border: 1px solid #e8e8e8;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
}

.userpage-imagearea {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.userpage-video-player {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 320px;
}

.userpage-tooltip {
  margin-left: 330px;
}

.thumbnail:hover {
  box-shadow: 0 0 2px 1px #3CDDC0 !important;
}

.image_picker .responsive .selected {
  background-color: #3CDDC0 !important;
}

.userpage-text--button-plus__design {
  display: flex;
  border: none;
  height: 2rem;
  width: 3rem;
  background-color: #3CDDC0;
  color: white;
  border-radius: 10px;
}

.userpage-text--button-plus__design p {
  margin: auto;
  font-size: 1rem;
}

.userpage-text--button-plus__design:hover {
  transform: scale(1.02);
}

.success-message {
  color: lightgreen;
}

.error-message {
  color: red;
}

.userpage-video-player-checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  top: 1;
  left: 1;
}
